html, body {
    background-image: url(../img/blackBackground.jpg);
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 1em;
    height: 100%; 
    margin: 0; 
    padding: 0;
}

h1 {
    font-size: 35px;
}

h2 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 20px;
}

p {
    font-size: 18px;
}

a {
    color: white;
}

a:hover {
    color: orange;
}

#navigation {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 30px;
    
}

#navigation li {
    display: inline;
    float: right;
}

#navigation li a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

li {
    font-size: 18px;
    padding-right: 3px;
    font-weight: 900 !important;
    text-align: left;
}


.selected {
    margin-left: 20px;
    font-size: 25px;
    margin-top: 4px;
    float: left !important;
}

.lastList {
    margin-right: 35px;
}

/*** Home Page ***/

#panelHome {
    width: 1300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 4px;
    border-radius: 40px;
    margin-top: 40px;
    border-color: transparent;
    
}

#infoHome h2 {
    color: deepskyblue;
}

#infoHome li {
    margin-right: 7px;
}

#infoHome {
    height: auto;
    width: 1300px;
    border-style: solid;
    border-color:deepskyblue;
    border-radius: 40px;
    border-width: 4px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}



#rocketHome {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

#clockHome {
    width: 120px;
    height: 120px;
    padding-right: 300px;
    padding-left: 300px
    
}

#targetHome {
    width: 120px;
    height: 120px;
    
}


/*** Transport System Page ***/
.button {
    background-color: transparent;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 2px;
    border-radius: 500px;
    color: white;
    width: 120px;
    font-size: 16px;
}

#shipInterface {
    height: auto;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}

#shipControls {
    border-radius: 500px;
    height: 520px;
    width: 520px;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 4px;
    color: white;
    margin-left: 60px;
}

#shipControls h2 {
    font-size: 22px;
}

#shipControls h4 {
    font-size: 18px;
}

#shipEnvironment {
    border-radius: 500px;
    height: 520px;
    width: 520px;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 4px;
    color: white;
    margin-top: -528px;
    margin-left: 610px;
}

#shipEnvironment h2 {
    font-size: 22px;
}

#shipEnvironment h4 {
    font-size: 18px;
}

#shipInformation {
    font-size: 16px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    width: 1300px;
    font-weight: 900 !important; 
    border-style: solid;
    border-width: 4px;
    margin-top: 10px;
}
    
#redButton {
  width: 64px;
  
  
}



/*** Space Clock Page ***/

#clock {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    font-size: 30px;
    font-weight: 900 !important; 
    border-style: solid;
    border-left-color: #66FF66; 
    border-top-color: aqua;
    border-right-color: #FF9933;
    border-bottom-color: #FFFF66;
    border-width: 4px;
    border-radius: 500px;
    animation-name: none;
    animation-duration: 4s;
    animation-iteration-count: infinite;  
}

.planets {
    margin-top: 20px;
    width: 110px;
}

@keyframes pulseClock {
    0% {border-left-color: #66FF66; border-top-color: aqua;
    border-right-color: #FF9933;
    border-bottom-color: #FFFF66;}
    25% {border-left-color: #FFFF66; border-top-color: #66FF66;
    border-right-color: aqua;
    border-bottom-color: #FF9933;}
    50% {border-left-color: #FF9933; border-top-color: #FFFF66;
    border-right-color: #66FF66;
    border-bottom-color: aqua;}
    75% {border-left-color: aqua; border-top-color: #FF9933;
    border-right-color: #FFFF66;
    border-bottom-color: #66FF66;}
    100% {border-left-color: #66FF66; border-top-color: aqua;
    border-right-color: #FF9933;
    border-bottom-color: #FFFF66;}
}

#star {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 16px
}

#earthDate {
    margin-top: 40px;
}

#informationClock {
    font-size: 16px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    width: 1300px;
    font-weight: 900 !important; 
    border-style: solid;
    border-width: 4px;  
}

#imageEarth {
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px
}

#imageMars {
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px
}


#iconMercury, #iconVenus, #iconEarth, #iconMoon, #iconMars, #iconMoon, #iconJupiter, #iconSaturn, #iconUranus, #iconNeptune, #iconPluto {
        -webkit-transition: 1.5s ease-in-out;
        -moz-transition: 1.5s ease-in-out;
        -o-transition: 1.5s ease-in-out;
        transition: 1.5s ease-in-out;
}

#iconMercury:hover, #iconVenus:hover, #iconEarth:hover, #iconMoon:hover, #iconMars:hover, #iconJupiter:hover, #iconSaturn:hover, #iconUranus:hover, #iconNeptune:hover, #iconPluto:hover {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
}


/*** Landing Spot Page ***/
#landingPanel {
    height: auto;
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 10px;
}

#landingPanel h3 {
    font-size: 20px;
}

#capeCanaveral {
    height: 600px;
    width: 580px;
    margin-left: 30px;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 4px;
    border-radius: 40px;
}

#edwardsAFB {
    height: 600px;
    width: 580px;
    margin-top: -608px;
    margin-left: 645px;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 4px;
    border-radius: 40px;
}


#mapCape { 
    height: 350px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;  
}

#mapEdwards {
    height: 350px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}



#informationLanding {
    font-size: 16px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    width: 1300px;
    font-weight: 900 !important; 
    border-style: solid;
    border-width: 4px;   
}
